<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/reveal.js/dist/reveal.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/flatiron.css" id="theme" />
    <link rel="stylesheet" href="style.css" id="theme" />
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/papercolor-light.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <script src="{{ site.baseurl }}/reveal.js/dist/reveal.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/highlight/highlight.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/notes/notes.js"></script>
    <script src="{{ site.baseurl }}/reveal.js/plugin/math/math.js"></script>

    <!-- needed for builds from svg images: https://github.com/rajgoel/reveal.js-plugins/tree/master/animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.min.js"></script>
    <script src="{{ site.baseurl }}/reveal.js-plugins/loadcontent/plugin.js"></script>
    <script src="{{ site.baseurl }}/reveal.js-plugins/animate/plugin.js"></script>
    <script type="text/javascript">
     console.log(window.innerHeight , window.innerWidth)
     if(window.innerHeight > window.innerWidth){
         if(window.innerWidth < "500"){
             alert("The presentation will look better in landscape!");
         }
     }
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section
          data-markdown="{{ page.markdown }}"
          data-separator="^\n---"
          data-separator-vertical="^\n--"
          data-separator-notes="^#note:"></section>
      </div>
    </div>
    <script src="{{ site.baseurl }}/reveal.js/plugin/zoom/zoom.js"></script>
    <script>
     Reveal.initialize({
         plugins: [RevealMarkdown, RevealZoom, RevealHighlight, RevealNotes, RevealMath.MathJax2, RevealLoadContent, RevealAnimate],
         animate: {
             auto: true
         },
         autoAnimateEasing: 'ease-out',
         autoPlayMedia: true,
         controls: false,
         controlsTutorial: false,
         slideNumber: true,
         jumpToSlide: true,
         width: 1920,
         height: 1176,
         margin: 0.10,
         minScale: 0.20,
         maxScale: 2.50,
         fragmentInURL: true,
         zoomLevel: 3,
         center: false,
         touch: true,
         transition: 'none',
         progress: true,
         display: 'flex',
         mathjax2: {
             // mathjax: 'https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js',
             config: 'TeX-AMS_HTML',
         },
     })
    </script>
    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
         "HTML-CSS": {minScaleAdjust: 100},
         CommonHTML: {minScaleAdjust: 100}
     });
    </script>
  </body>
</html>
